<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add" method="POST">
    <div>
       <label for="title">Todo Title</label>
        <input type="text" name="title">
<br>
       <button type="submit">add</button>

    </div>

</form>
{% for todo in todo_list %}
<p>{{todo.id}} |{{todo.title}}
</p>
{% if todo.complete==False%}
<span>not completed</span>
{% else %}
<span>completed</span>
{% endif %}
<a class="ui blue button" href="/update/{{todo.id}}">update</a>

<a href="/delete/{{todo.id}}">delete</a>
{% endfor %}
</body>
</html>